@import url("../Font/fonts.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Secret Cookbook */

#container {
	/*height: 100vh;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../images/bg.jpg);
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../images/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

	#container #block {
		background-color: rgba(255, 255, 255, .5);
		margin: 2em;
		border-radius: 2em;
		
		/*border: pink solid 5px;*/
	}

	#container #recipeTitle {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 1em;
		
		/*border: red solid 5px;*/
	}

	#container #cookbook {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		
		/*border: green solid 5px;*/
	}

		/* Recipe demo image */
		#container #block #cookbook img {
			width: min(300px, 70vw);
			height: min(300px, 70vw);
			margin: 1em;
			border-radius: 2em;
			object-fit: cover;
			
			/*border: blue solid 5px;*/
		}

	#container #ingredient {
		margin: 1em;
		background-color: rgba(255, 255, 255, .8);
		padding: 1em;
		border-radius: 8px;
		
		/*border: yellow solid 5px;*/
	}

	#container #direction {
		margin: 1em;
		background-color: rgba(255, 255, 255, .8);
		padding: 1em;
		border-radius: 8px;
		width: min(400px, 70%);
		
		/*border: yellow solid 5px;*/
	}

	#container #imageGallery {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		margin-left: 10%;
		margin-right: 10%;
		margin: 5px;
		
		/*border: purple solid 5px;*/
	}

		/* Recipe my image */
		#container #imageGallery img {
			width: min(250px, 70vw);
			height: min(250px, 70vw);
			margin: 1em;
			border-radius: 2em;
			object-fit: cover;
			
			/*border: blue solid 5px;*/
		}


/* font style */

li, p {
	font-family: "balsamiq_sansregular", Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

h1 {
	font-family: "balsamiq_sansbold", Arial, Helvetica, sans-serif;
	font-size: 2rem;
}

h3 {
	font-family: "noto_sans_tcbold", Arial, sans-serif;
	font-weight: 900;
	font-size: 2rem;
}

h2 {
	font-family: "balsamiq_sansbold", Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
}

a {
	font-family: "balsamiq_sansbold", Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	text-decoration: none;
}

@media all and (max-width:900px), (max-device-width:900px){
	body{
		#container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			
			background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../images/bg_small.png);
			background: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../bg_small.png);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
		}
	}
}
